

.cont-grid {
display: grid;
grid-template-columns: 1fr 1fr;
@include mobile {
display: flex;
flex-direction: column;
align-items: center;
}
.text-infor {
position: relative;
bottom: 120px;
color: white;
grid-column: 1;
padding: 20px;
text-align: justify;
@include mobile {
position: relative;
bottom: 20px;
}

& h2 {
font-size: 30px;
color: rgb(8, 64, 168);
position: relative;
right: 5px;
}
& h4 {
font-size: 20px;
color: rgb(8, 64, 168);
}
}
}

.musculacion {
width: 600px;
grid-column: 2;
position: relative;
bottom: 110px;

}
.a-b {
width: 400px;
position: relative;
left: 130px;
@include mobile {
position: relative;
left: 10px;
}
}