.footer {
    background-color: rgb(5, 5, 5);
    padding: 10px 0;
    position:relative;
    text-align: center;

    .contenedor {
        margin: 0 auto;
        
        .footer-row {
            display: flex;
            flex-wrap: wrap;
            @include mobile {
                text-align: center;
              }
                .footer-links {
                    width: 25%;
                    padding: 0 15px;
                    @include mobile {
                        width: 100%;
                        margin-bottom: 30px;
                      }
                    & h4 {
                        font-size: 20px;
                        color: gold;
                        margin-bottom: 25px;
                        font-weight: 500;
                        border-bottom: 2px solid red;
                        padding-bottom: 10px;
                        display: inline-block;
                   
                    }
                    

                     .animacion {
                        & :hover {
                          
                            text-decoration: none;
                            color: rgb(245, 0, 0);
                            display: inline-block;
                            
                           
                        }
                            & li {
                                & a {
                                    font-size: 18px;
                                    text-decoration: none;
                                    color: white;
                                    display: block;
                                    margin-bottom: 15px;}
                                }
                            }
              
                 
                    .social-link  {
                       
                        & a{
                            color: white;
                            display:inline-block;
                            width: 40px;
                            margin: 0 10px 10px 0;
                           
                            text-align: center;
                            line-height: 40px;
                            border-radius: 50%;
                            transition: all .5s ease;
                            font-size: 20px;
                            &:hover {
                                background-color: blue;
                            }
                       
                        }
                        }
                      
                    }
                   

                }
        }
    }

    

  
  .f-play {
    margin-top: 420px;
  }
  
  .inicio {
    position: relative;
    left: 18px;
  }

.ayuda {
  position: relative;
  left: 15px;
}


$redes: (
    facebook-f: blue,
    instagram:purple ,
    twitter: rgb(0, 225, 255),
    linkedin: blue
);

@each $redsocial, $color in $redes {
    .fa-#{$redsocial} {
        background-color: $color;
      
    }
}
