.footer {
max-width: 100%;
background-color: rgb(5, 5, 5);
padding: 10px 0;
position:relative;
text-align: center;

.contenedor {
max-width: 100%;
margin: 0 auto;

.footer-row {
max-width: 100%;
display: flex;
flex-wrap: wrap;
@include mobile {
max-width: 100%;
text-align: center;
}
.footer-links {
max-width: 100%;
width: 25%;
padding: 0 15px;
@include mobile {
max-width: 100%;
width: 100%;
margin-bottom: 30px;

}
& h4 {
font-size: 20px;
color: gold;
margin-bottom: 25px;
font-weight: 500;
border-bottom: 2px solid red;
padding-bottom: 10px;
display: inline-block;
text-align: center;

}


.animacion {
max-width: 100%;
position: relative;
left: -15px;
& :hover {

text-decoration: none;
color: rgb(245, 0, 0);
display: inline-block;


}
& li {
& a {
font-size: 18px;
text-decoration: none;
color: white;
display: block;
margin-bottom: 15px;
}
}
}


.social-link  {
max-width: 100%;
.fab {
@include mobile {
border-radius: 50%;
}


}

& a{

color: rgb(255, 255, 255);
display:inline-block;
width: 40px;
margin: 0 10px 10px 0;


line-height: 40px;
border-radius: 50%;
transition: all .5s ease;
font-size: 20px;

&:hover {
background-color: blue;
}

}
}

}


}
}
}




.f-play {
max-width: 100%;
margin-top: 420px;
}

.inicio {
max-width: 100%;
position: relative;

}

.ayuda {
max-width: 100%;
position: relative;

}


$redes: (
facebook-f: blue,
instagram:purple ,
twitter: rgb(0, 225, 255),
linkedin: blue
);

@each $redsocial, $color in $redes {
.fa-#{$redsocial} {
background-color: $color;

}
}
